.display-4.heading {
    background-color: bisque;
}

.card-deck {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 20px;
    font-family: sans-serif;

}

.card {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.card__image {
    width: 100%;
    display: block;
}

